html, body {
	height: 100%;
	}

#tudo {
	min-height: 100%;
	position: relative;
	}

* html #tudo {
	height: 100%; /* hack para IE6 que trata height como min-height */
	}
	
#conteudo {
	padding-bottom: 30px;
	
	}

#rodape {
	position: absolute;
	bottom: 0;
	width:100%;
	}